* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}
.content{
    height: 100%;
    position: relative;
    max-width: 100%;
}
.home {
    padding-top: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home a{
    color: #000;
}
.home i {
    user-select: none;
    cursor: pointer;
    font-size: 50px;
}

.home i:hover {

    transition-duration: 0.5s;
    transform: scale(1.2);
    cursor: pointer;
    font-size: 50px;
}
